$app-white: #f7fff7;
$app-green: #12521a;
$app-dark-green: #12521a;

$app-green: #0a4a12;
$app-dark-green: #07310c;
$app-x-dark-green: #031906;
$app-blue: #000094;
// $app-blue: #0f721c;
// $app-green: #6b0000;
// $app-dark-green: #5a0000;
$app-yellow: #c8ae00;
$app-light-yellow: #ebebb9;
$app-x-light-yellow: #fffce6;

$app-light-yellow: #ede4aa;
$app-x-light-yellow: #f6f2d5;
