.logo {
  display: flex;
  justify-content: center;
  background: #f7fff7;
  padding: 5px 10px 0px;
  border-radius: 10px;
  border: #000094 solid 2px;
  box-shadow: inset 0 0 4px #c8ae00;
}

a {
  text-decoration: none;
}

.logo:hover {
  background: #fffce6;
  box-shadow: inset 0 0 20px #c8ae00;
  border-radius: 10px;
}

header {
  font-family: "ABeeZee", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: #12521a;
}

header img {
  padding-top: 20px;
  padding-right: 8px;
  padding-bottom: auto;
  width: auto;
  height: 3.5rem;
}

header h1 {
  font-family: "ABeeZee", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #12521a;
}

header nav {
  display: flex;
  margin-left: 2rem;
  gap: 1.5rem;
}

header nav a {
  font-size: 1.125rem;
  color: #fff;
  font-weight: 600;
  transition: color 0.3s;
}

header nav a:hover {
  color: #c8ae00;
  text-decoration: none;
  font-size: 1.25rem;
  text-shadow: 0 0 1px #000094;
}

header nav a.active {
  color: #c8ae00;
  border-bottom: 2px solid #c8ae00;
  padding-bottom: 0.25rem;
}

.topnav {
  overflow: hidden;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  padding: 14px 16px;
}

.topnav a.icon {
  font-size: 3rem;
  float: right;
  color: #f7fff7;
}

.topnav a.icon:hover {
  font-size: 3.2rem;
  float: right;
  color: #c8ae00;
  text-shadow: 0 0 2px #000094;
}

#topLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
