@use "../../../sass/variables" as v;

#app-menu {
  height: 50px;
  background: v.$app-light-yellow;
  border-bottom: 2px solid v.$app-blue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  div {
    text-decoration: none;
    color: v.$app-dark-green;
    font-size: 1.2rem;
    font-weight: 700;

    &:hover {
      cursor: pointer;
    }

    @media (min-width: 700px) {
      &:hover {
        color: v.$app-yellow;
      }
    }
  }

  @media (max-width: 700px) {
    flex-direction: column;
    height: 180px;

    div {
      width: 60%;
      //   background: v.$app-x-light-yellow;
      //   border-top: 2px solid v.$app-green;
      //   border-top: 1px v.$app-green;
      border-bottom: 1px solid v.$app-yellow;
      margin-left: 5%;
      margin-right: 35%;
      //   text-align: center;
      //   box-shadow: 2px 2px 2px v.$app-green;

      &:hover {
        background: v.$app-white;
      }
    }
  }
}
