<header>
  <a class="logo" routerLink="">
    <img src="logo.png" alt="PortugEase! logo" />
    <h1>PortugEase!</h1>
  </a>
  <a href="javascript:void(0);" class="burger" (click)="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</header>
<!-- <nav id="myLinks">
  <a routerLink="" routerLinkActive="active">Home</a>
  <a routerLink="/quizzes" routerLinkActive="active">Quizzes</a>
  <a routerLink="/flashcards" routerLinkActive="active">Flashcards</a>
  <a routerLink="/lessons" routerLinkActive="active">Lessons</a>
  <a routerLink="/sentences" routerLinkActive="active">Sentence Builder</a>
</nav> -->
