<div class="quiz-intro">{{ quiz[0]?.category }}</div>
<div class="quiz-section">
  <div class="question-box" [class]="[currentQuestion ? '' : 'score-box']">
    @if (currentQuestion) {
    <div class="quiz-flex">
      <div class="question-no">
        Question {{ currentQuestionIndex + 1 }}/{{ totalQuestions }}
      </div>
      <div class="question-text">{{ currentQuestion.question }}</div>
      <div class="question-options">
        @for (answer of answers[currentQuestion.id]; track answer.id) {
        <label class="option">
          <input
            type="radio"
            name="options"
            class="checkmark"
            value="{{ answer.answerText }}"
            [checked]="false"
            (change)="onSelecting($event)"
          />
          <span>{{ answer.answerText }} </span>
        </label>
        }
      </div>
    </div>
    <div
      id="quiz-buttons"
      [class]="currentQuestionIndex > 0 ? '' : 'next-right'"
    >
      @if (currentQuestionIndex > 0) {
      <button class="prev" (click)="onPrev()">Prev</button>
      }
      <button class="next" (click)="onNext()">Next</button>
    </div>
    } @else {
    <div class="score">
      <h3>Score :</h3>
      <span>{{ score / totalQuestions | percent }}</span>
    </div>
    }
  </div>
  <button routerLink="/quizzes" class="exit">Exit Quiz</button>
</div>
