<div class="quiz-intro">Basic Vocabulary</div>
<div class="quiz-section">
  <div class="question-box">
    @if (question != null) {

    <div class="question-no">Question {{ i + 1 }}/{{ totalQuestions }}</div>
    <div class="question-text">{{ question.question }}</div>
    <div class="question-options">
      @for (option of question.options; track option) {
      <label class="option">
        <input
          type="radio"
          name="options"
          id="option1"
          class="checkmark"
          value="{{ option }}"
          [checked]="false"
          (change)="onSelecting($event)"
        />
        <span>{{ option }} </span>
      </label>
      }
    </div>
    @if (i > 0) {
    <button class="prev" (click)="onPrev()">Prev</button>
    }
    <button class="next" (click)="onNext()">Next</button>

    } @else {
    <div class="score">
      <h3>Score :</h3>
      <span>{{ this.score / this.totalQuestions | percent }}</span>
    </div>
    }
  </div>
  <button routerLink="/quizzes" class="exit">Exit Quiz</button>
</div>
