<app-wotd />
<div class="home-grid">
  <a class="home-feature" [routerLink]="['/quizzes']">
    <div class="home-title">
      <div class="title-text">
        <span>Quizzes </span>
        <i class="fi fi-rr-quiz-alt"></i>
      </div>
    </div>
    <div class="home-img"><img src="toucan.png" /></div>
  </a>
  <a class="home-feature" [routerLink]="['/flashcards']">
    <div class="home-title">
      <div class="title-text">
        <span>Flashcards </span>
        <i class="fi fi-rr-cards-blank"></i>
      </div>
    </div>
    <div class="home-img"><img class="large-img" src="cristo.png" /></div>
  </a>
  <a class="home-feature" [routerLink]="['/lessons']">
    <div class="home-title">
      <div class="title-text">
        <span>Lessons </span>
        <i class="fi fi-rr-lesson"></i>
      </div>
    </div>
    <div class="home-img"><img class="large-img" src="guitar.png" /></div>
  </a>
  <a class="home-feature" [routerLink]="['/sentences']">
    <div class="home-title">
      <div class="title-text">
        <span>Sentence Builder </span>
        <i class="fi fi-rr-portuguese"></i>
      </div>
    </div>
    <div class="home-img"><img src="coxinha.png" /></div>
  </a>
</div>
