<app-wotd />
<div class="home-grid">
  <a class="home-feature" [routerLink]="['/quizzes']">
    <div>
      <span>Quizzes </span>
      <i class="fi fi-rr-quiz-alt"></i>
    </div>
    <img src="toucan.png" />
  </a>
  <a class="home-feature" [routerLink]="['/flashcards']">
    <div>
      <span>Flashcards </span>
      <i class="fi fi-rr-cards-blank"></i>
    </div>
    <img class="large-img" src="cristo.png" />
  </a>
  <a class="home-feature" [routerLink]="['/lessons']">
    <div>
      <span>Lessons </span>
      <i class="fi fi-rr-lesson"></i>
    </div>
    <img class="large-img" src="guitar.png" />
  </a>
  <a class="home-feature" [routerLink]="['/sentences']">
    <div>
      <span>Sentence Builder </span>
      <i class="fi fi-rr-portuguese"></i>
    </div>
    <img src="coxinha.png" />
  </a>
</div>
