<mat-tab-group>
  <mat-tab class="tab" label="Beginner">
    <div>
      <a class="quiz" routerLink="/quiz">
        <div class="quiz-title">Basic Vocabulary</div>
        <div class="quiz-text">
          Learn essential Brazilian Portuguese words with this basic vocabulary
          quiz.
        </div>
      </a>
      <a routerLink="">
        <div class="quiz">
          <div class="quiz-title">Basic Verbs</div>
          <div class="quiz-text">Coming soon</div>
        </div>
      </a>
      <a routerLink="">
        <div class="quiz">
          <div class="quiz-title">Simple Phrases</div>
          <div class="quiz-text">Coming soon</div>
        </div>
      </a>
      <a routerLink="">
        <div class="quiz">
          <div class="quiz-title">Numbers & Dates</div>
          <div class="quiz-text">Coming soon</div>
        </div>
      </a>
    </div>
  </mat-tab>
  <mat-tab class="tab" label="Intermediate"
    ><div>
      <a routerLink="">
        <div class="quiz">
          <div class="quiz-title">Quiz 5</div>
          <div class="quiz-text">Coming soon</div>
        </div>
      </a>
      <a routerLink="">
        <div class="quiz">
          <div class="quiz-title">Quiz 6</div>
          <div class="quiz-text">Coming soon</div>
        </div>
      </a>
      <a routerLink="">
        <div class="quiz">
          <div class="quiz-title">Quiz 7</div>
          <div class="quiz-text">Coming soon</div>
        </div>
      </a>
      <a routerLink="">
        <div class="quiz">
          <div class="quiz-title">Quiz 8</div>
          <div class="quiz-text">Coming soon</div>
        </div>
      </a>
    </div></mat-tab
  >
  <mat-tab class="tab" label="Advanced"
    ><div>
      <a routerLink="">
        <div class="quiz">
          <div class="quiz-title">Quiz 9</div>
          <div class="quiz-text">Coming soon</div>
        </div>
      </a>
      <a routerLink="">
        <div class="quiz">
          <div class="quiz-title">Quiz 10</div>
          <div class="quiz-text">Coming soon</div>
        </div>
      </a>
      <a routerLink="">
        <div class="quiz">
          <div class="quiz-title">Quiz 11</div>
          <div class="quiz-text">Coming soon</div>
        </div>
      </a>
      <a routerLink="">
        <div class="quiz">
          <div class="quiz-title">Quiz 12</div>
          <div class="quiz-text">Coming soon</div>
        </div>
      </a>
    </div></mat-tab
  >
</mat-tab-group>
