<div class="quizzes-intro">
  <p class="quizzes-title">Quizzes</p>
  <p class="quizzes-text">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
    ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
    parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec,
    pellentesque eu, pretium quis, sem. Nulla consequat massa
  </p>
</div>
<div class="quizzes-grid">
  <div class="quizzes-category">Beginner <br /></div>
  <div class="quizzes-grid-section">
    <a routerLink="">
      <div class="quiz">
        <div class="quiz-title">Basic Vocabulary</div>
        <div class="quiz-text">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
        </div>
      </div>
    </a>
    <a routerLink="">
      <div class="quiz">
        <div class="quiz-title">Basic Verbs</div>
        <div class="quiz-text"></div>
      </div>
    </a>
    <a routerLink="">
      <div class="quiz">
        <div class="quiz-title">Simple Phrases</div>
        <div class="quiz-text"></div>
      </div>
    </a>
    <a routerLink="">
      <div class="quiz">
        <div class="quiz-title">Numbers & Dates</div>
        <div class="quiz-text"></div>
      </div>
    </a>
  </div>
  <div class="quizzes-category">Intermediate</div>
  <div class="quizzes-grid-section">
    <a routerLink="">
      <div class="quiz">
        <div class="quiz-title">Quiz 5</div>
        <div class="quiz-text"></div>
      </div>
    </a>
    <a routerLink="">
      <div class="quiz">
        <div class="quiz-title">Quiz 6</div>
        <div class="quiz-text"></div>
      </div>
    </a>
    <a routerLink="">
      <div class="quiz">
        <div class="quiz-title">Quiz 7</div>
        <div class="quiz-text"></div>
      </div>
    </a>
    <a routerLink="">
      <div class="quiz">
        <div class="quiz-title">Quiz 8</div>
        <div class="quiz-text"></div>
      </div>
    </a>
  </div>

  <div class="quizzes-category">Advanced</div>
  <div class="quizzes-grid-section">
    <a routerLink="">
      <div class="quiz">
        <div class="quiz-title">Quiz 9</div>
        <div class="quiz-text"></div>
      </div>
    </a>
    <a routerLink="">
      <div class="quiz">
        <div class="quiz-title">Quiz 10</div>
        <div class="quiz-text"></div>
      </div>
    </a>
    <a routerLink="">
      <div class="quiz">
        <div class="quiz-title">Quiz 11</div>
        <div class="quiz-text"></div>
      </div>
    </a>
    <a routerLink="">
      <div class="quiz">
        <div class="quiz-title">Quiz 12</div>
        <div class="quiz-text"></div>
      </div>
    </a>
  </div>
</div>
